@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
body {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  background-color: #8aaae5; }

.nav__logo {
  font-size: 20px;
  margin: auto;
  border-radius: 10px; }
  .nav__logo a {
    font-weight: bold;
    color: #ffffff;
    padding: 5px;
    width: 100%; }
    .nav__logo a span {
      font-size: 0.75em;
      font-weight: lighter;
      color: #ffffff; }

.list {
  width: 40px;
  height: 40px;
  position: relative; }
  .list__img {
    width: 100%;
    height: auto;
    cursor: pointer; }

.menu {
  position: absolute;
  background-color: #8aaae5;
  top: 100%;
  left: 0;
  width: 60%;
  height: 100vh;
  z-index: 11;
  padding-left: 0;
  transition: all .5s ease; }
  .menu__item {
    margin-top: 40px;
    font-size: 20px; }
  .menu__link {
    display: block;
    color: #ffffff !important; }

.active {
  left: -600px; }

@media only screen and (min-width: 768px) {
  .contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto; }
  .navBar {
    height: 100%; }
  #header {
    height: 45px;
    box-shadow: 0px 0px 0px 1px 10px #666; }
  .list {
    display: none; }
  .active {
    left: 0; }
  .menu {
    background-color: initial;
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    z-index: 11;
    padding-left: 0;
    transition: initial;
    margin: auto; }
    .menu__item {
      margin-top: initial;
      margin-left: initial;
      margin-right: 25px;
      font-size: 18px; }
    .menu__link {
      display: inline-block;
      color: #000; }
      .menu__link img {
        display: none; } }

body {
  margin: 0;
  padding: 0; }

#aside {
  background-color: #D94E65; }
  #aside ul > li {
    cursor: pointer;
    color: #fff; }

.mostrar {
  display: block; }

.sub {
  display: none; }

body {
  margin: 0;
  padding: 0; }

.presentacion {
  background-color: #c5d5f2; }
  .presentacion__p {
    color: #fff;
    font-weight: lighter; }

.segmento__h4 {
  font-size: 18px;
  font-weight: 500; }

.segmento__img {
  width: 30px;
  height: 30px; }

.bg {
  background-color: #8aaae5; }

.bg-color {
  color: #ffffff; }

.titulo__h1 {
  color: #ffffff; }

.tarjeta {
  border-radius: 6px; }
  .tarjeta__img {
    width: 80px;
    height: 123px; }
    .tarjeta__img img {
      height: 100%;
      border-radius: 6px;
      box-shadow: 1px 1px 3px #666; }
  .tarjeta__descripcion {
    font-size: 18px; }
    .tarjeta__descripcion p {
      font-size: 0.75rem;
      line-height: .72rem;
      width: 80px;
      color: #666;
      padding-bottom: 0; }
    .tarjeta__descripcion span {
      display: block;
      font-size: .75rem;
      margin-top: -10px;
      color: green; }

@media only screen and (min-width: 960px) {
  .contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto; }
  .presentacion {
    text-align: center;
    height: 30vh; }
    .presentacion .titulo__h1 {
      color: #edf2fb;
      font-weight: 900;
      text-shadow: -0.0075em 0.0075em 0 #f8fafd, 0.005em 0.005em 0 #d0ddf5, 0.01em 0.01em 0 #d3dff5, 0.015em 0.015em #d5e0f6, 0.02em 0.02em 0 #d7e2f6, 0.025em 0.025em 0 #dae4f7, 0.03em 0.03em 0 #dce6f7, 0.035em 0.035em 0 #dee7f8; }
    .presentacion__p {
      color: #fff;
      font-weight: lighter; }
  .promocion {
    height: 300px; }
  .altura {
    height: 100%; }
  .tarjeta {
    width: 170px;
    height: auto;
    border-radius: initial;
    border: 1px solid #d4d4d4;
    padding-bottom: 10px; }
    .tarjeta__img {
      width: 100%;
      height: auto;
      margin: auto; }
      .tarjeta__img img {
        height: 100%;
        border-radius: initial;
        box-shadow: initial; }
    .tarjeta__descripcion {
      font-size: 18px;
      margin-left: 5px; }
      .tarjeta__descripcion p {
        font-size: 0.80rem;
        line-height: .72rem;
        width: 80px;
        color: #666;
        padding-bottom: 0; }
      .tarjeta__descripcion span {
        display: block;
        font-size: .80rem;
        margin-top: -10px; }
  .tarjeta:hover {
    box-shadow: 0px 0px 8px 3px rgba(102, 102, 102, 0.3); }
  #footer-main h4 {
    color: white;
    font-weight: lighter; }
  .footerIzquierda {
    width: 50%;
    font-size: 18px; }
    .footerIzquierda__contacto p {
      font-size: .80em; }
    .footerIzquierda__nav {
      margin-left: 40px;
      font-size: .90em; }
  .footerContenedor {
    height: 140px; }
  .footerDerecha {
    width: 50%;
    text-align: center; }
    .footerDerecha h4 {
      letter-spacing: 5px; } }

body {
  margin: 0px;
  padding: 0px; }

#footer-main {
  background-color: #8aaae5; }

.footer-left,
.footer-center {
  color: #ffffff; }

body {
  margin: 0px;
  padding: 0px; }

#footer-main {
  background-color: #8aaae5; }

.footer-left,
.footer-center {
  color: #ffffff; }

body {
  margin: 0;
  padding: 0;
  background-color: #f9f5f1; }

#formulario {
  margin: auto; }

.navBar {
  height: 100%; }

.texto {
  box-shadow: 0px 0px 4px 1px rgba(102, 102, 102, 0.5);
  font-family: 'Poppins', sans-serif;
  font-size: 18px; }
  .texto__h1 {
    color: #8aaae5;
    font-weight: 600; }
  .texto__p {
    font-size: 0.80em; }

.form__input {
  border-radius: 8px;
  border-style: none;
  box-shadow: 0px 0px 4px 1px rgba(102, 102, 102, 0.3); }

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff; }

a {
  text-decoration: none !important; }

.busqueda {
  position: relative;
  padding: 10px 0px; }
  .busqueda__input {
    border-style: none;
    border-radius: 15px;
    width: 94%;
    height: 30px;
    margin: auto;
    padding-left: 9px;
    background-color: rgba(102, 102, 102, 0.13); }
  .busqueda__img {
    position: absolute;
    top: 18px;
    right: 25px; }

.filtros {
  background-color: rgba(138, 170, 229, 0.7);
  width: 100wh; }

.dropDown,
.dropDown__menu {
  text-align: center; }

.dropDown > ul {
  padding: 0px; }

.menu__li {
  padding: 5px 0px;
  color: #ffffff;
  cursor: pointer; }

.dropDown__menu {
  margin: auto; }

.flecha {
  font-weight: bold; }

.menu__li > .oculto {
  display: none; }

.submenu {
  background-color: #ffffff !important; }

.submenu {
  padding-top: 10px;
  background-color: #ffffff; }

.contenedorFiltros {
  width: 94%;
  padding: 10px 0px;
  margin: auto; }

.aplicado {
  width: 70px;
  height: auto;
  background-color: rgba(102, 102, 102, 0.2);
  border-radius: 10px;
  padding-bottom: 2px;
  font-size: 18px; }
  .aplicado__texto {
    font-size: 0.70em;
    margin: auto; }
  .aplicado .close {
    font-size: 1em;
    margin-left: 10px; }

body {
  margin: 0;
  padding: 0; }

.pregunta {
  padding: 20px 0px; }
  .pregunta h4 {
    background-color: rgba(102, 102, 102, 0.1); }
