@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yaldevi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Scheherazade+New&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yaldevi&display=swap");
@import url("https://fonts.googleapis.com/css?family=Scheherazade+New&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Poppins:ital,wght@0,300;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
body {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

#header {
  background-color: #8aaae5; }

.nav__logo {
  font-size: 20px;
  margin: auto;
  border-radius: 10px; }
  .nav__logo a {
    font-weight: bold;
    color: #ffffff;
    padding: 5px;
    width: 100%; }
    .nav__logo a span {
      font-size: 0.75em;
      font-weight: lighter;
      color: #ffffff; }

.list {
  width: 40px;
  height: 40px;
  position: relative; }
  .list__img {
    width: 100%;
    height: auto;
    cursor: pointer; }

.menu {
  position: absolute;
  background-color: #8aaae5;
  top: 100%;
  left: 0;
  width: 60%;
  height: 100vh;
  z-index: 11;
  padding-left: 0;
  transition: all .5s ease; }
  .menu__item {
    margin-top: 40px;
    font-size: 20px; }
  .menu__link {
    display: block;
    color: #ffffff !important; }

.active {
  left: -600px; }

@media only screen and (min-width: 768px) {
  .contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto; }
  .navBar {
    height: 100%; }
  #header {
    height: 45px;
    box-shadow: 0px 0px 0px 1px 10px #666; }
  .list {
    display: none; }
  .active {
    left: 0; }
  .menu {
    background-color: initial;
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    z-index: 11;
    padding-left: 0;
    transition: initial;
    margin: auto; }
    .menu__item {
      margin-top: initial;
      margin-left: initial;
      margin-right: 25px;
      font-size: 18px; }
    .menu__link {
      display: inline-block;
      color: #000; }
      .menu__link img {
        display: none; } }

body {
  margin: 0;
  padding: 0; }

#aside {
  background-color: #D94E65; }
  #aside ul > li {
    cursor: pointer;
    color: #fff; }

.mostrar {
  display: block; }

.sub {
  display: none; }

body {
  margin: 0;
  padding: 0; }

.presentacion {
  background-color: #c5d5f2; }
  .presentacion__p {
    color: #fff;
    font-weight: lighter; }

.segmento__h4 {
  font-size: 18px;
  font-weight: 500; }

.segmento__img {
  width: 30px;
  height: 30px; }

.bg {
  background-color: #8aaae5; }

.bg-color {
  color: #ffffff; }

.titulo__h1 {
  color: #ffffff; }

.tarjeta {
  border-radius: 6px; }
  .tarjeta__img {
    width: 80px;
    height: 123px; }
    .tarjeta__img img {
      height: 100%;
      border-radius: 6px;
      box-shadow: 1px 1px 3px #666; }
  .tarjeta__descripcion {
    font-size: 18px; }
    .tarjeta__descripcion p {
      font-size: 0.75rem;
      line-height: .72rem;
      width: 80px;
      color: #666;
      padding-bottom: 0; }
    .tarjeta__descripcion span {
      display: block;
      font-size: .75rem;
      margin-top: -10px;
      color: green; }

@media only screen and (min-width: 960px) {
  .contenedor {
    max-width: 1280px;
    width: 90%;
    margin: auto; }
  .presentacion {
    text-align: center;
    height: 30vh; }
    .presentacion .titulo__h1 {
      color: #edf2fb;
      font-weight: 900;
      text-shadow: -0.0075em 0.0075em 0 #f8fafd, 0.005em 0.005em 0 #d0ddf5, 0.01em 0.01em 0 #d3dff5, 0.015em 0.015em #d5e0f6, 0.02em 0.02em 0 #d7e2f6, 0.025em 0.025em 0 #dae4f7, 0.03em 0.03em 0 #dce6f7, 0.035em 0.035em 0 #dee7f8; }
    .presentacion__p {
      color: #fff;
      font-weight: lighter; }
  .promocion {
    height: 300px; }
  .altura {
    height: 100%; }
  .tarjeta {
    width: 170px;
    height: auto;
    border-radius: initial;
    border: 1px solid #d4d4d4;
    padding-bottom: 10px; }
    .tarjeta__img {
      width: 100%;
      height: auto;
      margin: auto; }
      .tarjeta__img img {
        height: 100%;
        border-radius: initial;
        box-shadow: initial; }
    .tarjeta__descripcion {
      font-size: 18px;
      margin-left: 5px; }
      .tarjeta__descripcion p {
        font-size: 0.80rem;
        line-height: .72rem;
        width: 80px;
        color: #666;
        padding-bottom: 0; }
      .tarjeta__descripcion span {
        display: block;
        font-size: .80rem;
        margin-top: -10px; }
  .tarjeta:hover {
    box-shadow: 0px 0px 8px 3px rgba(102, 102, 102, 0.3); }
  #footer-main h4 {
    color: white;
    font-weight: lighter; } }

body,
p {
  margin: 0px;
  padding: 0px; }

#footer-main {
  flex-direction: column;
  align-items: center; }

#footer-main > div {
  width: 50%;
  text-align: center;
  padding-top: 30px;
  color: #ffffff; }

.footerContenidoSeccion .redSocial {
  margin-bottom: 30px; }

.iconoRedSocial {
  width: 30px;
  height: auto; }

@media only screen and (min-width: 576px) {
  #footer-main {
    background-color: #8aaae5;
    padding-top: 50px;
    flex-direction: row; }
  #footer-main h4 {
    font-family: 'Yaldevi';
    font-size: 1.7rem; }
  .footerContenidoSeccion p {
    font-family: 'Scheherazade New';
    margin: 16px 0;
    color: #ffffff;
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 300; }
  .footerContenidoSeccion a {
    color: #ffffff; }
  .footerContenidoSeccion {
    margin-top: 70px; }
    .footerContenidoSeccion .redSocial {
      margin-left: 60px; }
  .redSocial {
    display: flex;
    align-items: center;
    margin-left: 20px; }
  .creditos {
    display: none; } }

body,
p {
  margin: 0px;
  padding: 0px; }

#footer-main {
  flex-direction: column;
  align-items: center; }

#footer-main > div {
  width: 50%;
  text-align: center;
  padding-top: 30px;
  color: #ffffff; }

.footerContenidoSeccion .redSocial {
  margin-bottom: 30px; }

.iconoRedSocial {
  width: 30px;
  height: auto; }

@media only screen and (min-width: 576px) {
  #footer-main {
    background-color: #8aaae5;
    padding-top: 50px;
    flex-direction: row; }
  #footer-main h4 {
    font-family: 'Yaldevi';
    font-size: 1.7rem; }
  .footerContenidoSeccion p {
    font-family: 'Scheherazade New';
    margin: 16px 0;
    color: #ffffff;
    margin-left: 15px;
    font-size: 1.2rem;
    font-weight: 300; }
  .footerContenidoSeccion a {
    color: #ffffff; }
  .footerContenidoSeccion {
    margin-top: 70px; }
    .footerContenidoSeccion .redSocial {
      margin-left: 60px; }
  .redSocial {
    display: flex;
    align-items: center;
    margin-left: 20px; }
  .creditos {
    display: none; } }

body {
  margin: 0;
  padding: 0;
  background-color: #f9f5f1;
  background-image: url("../assets/imagenes/fondo-libreria.jpeg");
  background-position: center;
  background-size: cover; }

#formulario {
  margin: auto;
  background-color: #f9f5f1; }

.navBar {
  height: 100%; }

.texto {
  box-shadow: 0px 0px 4px 1px rgba(102, 102, 102, 0.5);
  font-family: 'Poppins', sans-serif;
  font-size: 18px; }
  .texto__h1 {
    color: #8aaae5;
    font-weight: 600; }
  .texto__p {
    font-size: 0.80em; }

.form__input {
  border-radius: 8px;
  border-style: none;
  box-shadow: 0px 0px 4px 1px rgba(102, 102, 102, 0.3); }

@media only screen and (min-width: 968px) {
  #formulario {
    margin: auto;
    background-color: #f9f5f1; } }

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff; }

a {
  text-decoration: none !important; }

.busqueda {
  position: relative;
  padding: 10px 0px; }
  .busqueda__input {
    border-style: none;
    border-radius: 15px;
    width: 94%;
    height: 30px;
    margin: auto;
    padding-left: 9px;
    background-color: #ffffff; }
  .busqueda__img {
    position: absolute;
    top: 18px;
    right: 25px; }

.contenidoSeccionOrdenar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto; }
  .contenidoSeccionOrdenar .filtro {
    justify-self: end; }

.contenidoSeccionTitulo {
  text-align: center;
  color: #666; }

select {
  border: 1px solid #666;
  text-align: center; }

.seccionContenidoServicio {
  width: 90%;
  margin: auto; }

.contenido {
  display: flex;
  align-items: center; }
  .contenido img {
    display: block;
    width: 60px;
    height: auto; }
  .contenido__info {
    margin-left: 30px; }
    .contenido__info h3 {
      font-size: 1.1rem;
      margin: 0; }
    .contenido__info p {
      font-size: .80rem; }
    .contenido__info span {
      color: #2e8b57; }

.contenidoFiltros {
  display: flex;
  justify-content: space-around;
  background-color: #f9f5f1;
  height: initial;
  opacity: 1;
  transition: all .2s; }

.mostrarFiltros {
  height: 0;
  opacity: 0; }

.filtros > h3 {
  font-size: 1.3rem;
  text-align: center;
  color: #8aaae5;
  padding-top: 10px; }

.filtros ul {
  padding-left: 0; }

.filtros ul li a {
  color: #666; }

.iconoFiltro {
  cursor: pointer; }

.contenidoSeccionAnuncio > div {
  width: 90%;
  height: auto;
  margin: auto;
  margin-bottom: 15px; }

@media only screen and (min-width: 768px) {
  .contenidoFiltros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: initial;
    background-color: #fff;
    transition: none; }
  .mostrarFiltros {
    height: initial;
    opacity: initial; }
  .filtros > h3 {
    font-size: 1.3rem;
    text-align: left;
    color: #8aaae5;
    padding-top: 10px; }
  .filtros {
    margin-left: 20px;
    margin-bottom: 20%; }
  .contenido {
    display: flex;
    align-items: center; }
    .contenido img {
      display: block;
      width: 100px;
      height: auto; }
    .contenido__info {
      margin-left: 30px; }
      .contenido__info h3 {
        font-size: 1.4rem;
        margin: 0; }
      .contenido__info p {
        font-size: .85rem; }
      .contenido__info span {
        color: #2e8b57; }
  .contenidoSeccionAnuncio > div {
    width: 100%;
    height: auto; } }

body {
  margin: 0;
  padding: 0; }

.pregunta {
  padding: 20px 0px; }
  .pregunta h4 {
    background-color: rgba(102, 102, 102, 0.1); }

body {
  margin: 0;
  padding: 0; }

.muestra__titulo .arrow {
  position: relative;
  width: 25px; }

.muestra__titulo .titulo {
  font-size: 20px;
  margin: auto; }
  .muestra__titulo .titulo h2 {
    font-size: 1.3rem; }

.contenido__compra {
  width: 50%;
  padding-right: 10px;
  font-size: 18px; }
  .contenido__compra .caracteristicas {
    font-size: 0.80rem; }

.contenido__img {
  width: 100px;
  height: 137px; }
  .contenido__img img {
    margin-top: 17px;
    margin-left: 10px;
    border-radius: initial; }

.compra__boton {
  background-color: #8aaae5;
  color: #ffffff;
  border-style: none;
  font-size: 16px;
  margin: 10px 0px; }

.compra__carrito {
  background-color: transparent;
  border-style: none;
  border: 1px solid #8aaae5;
  color: #8aaae5;
  font-size: 16px; }

.sinopsis {
  text-align: center; }
  .sinopsis p {
    margin-top: 20px;
    color: #666; }

.caracteristicas_libro .tableRow > th {
  color: #666; }

.masDetalles > h4 {
  text-align: center;
  padding: 20px 0px;
  color: #666; }

.masDetalles__libro {
  margin: auto; }
  .masDetalles__libro .tableRow {
    height: 50px; }
    .masDetalles__libro .tableRow .tableHead {
      color: #666; }

body {
  margin: 0;
  padding: 0; }

.boxShadow {
  box-shadow: 0px 0px 14px 8px rgba(102, 102, 102, 0.5); }

.contenidoSeccionNosotros > div {
  text-align: center; }

.titulo {
  font-family: 'Abril Fatface', cursive;
  color: #8aaae5; }

.contenidoSeccionNosotros {
  margin-top: 30px; }
  .contenidoSeccionNosotros .contenido {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    line-height: 1.7rem; }

.contenido p {
  color: #666; }

.imgLibreria {
  width: 80%;
  margin: auto;
  margin-top: 30px; }
  .imgLibreria img {
    width: 100%;
    height: 100%; }

.subscripcion {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 60px;
  background-color: rgba(102, 102, 102, 0.2);
  padding: 30px 0px; }

.formulario {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto; }
  .formulario .input {
    margin-bottom: 20px;
    border-style: none;
    padding: 8px 0px;
    padding-left: 10px;
    color: rgba(102, 102, 102, 0.3); }

.boton {
  background-color: #8aaae5;
  color: #ffffff;
  padding: 8px 0px;
  border-style: none; }

@media only screen and (min-width: 768) {
  .imgLibreria {
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 30px; }
    .imgLibreria img {
      width: 100%;
      height: 100%; } }
