// colores
@import "colores";
@import "footer";
// funete
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Poppins:ital,wght@0,300;0,700;1,400&display=swap');
body {
    margin: 0;
    padding: 0;
    // estilos formulario
    #formulario {
        margin: auto;
        background-color: rgba(249, 245, 241, 1);
    }
    .fondo {
        background-color: #f9f5f1;
        background-image: url("../assets/imagenes/fondo-libreria.jpeg");
        background-position: center;
        background-size: cover;
    }
}

.navBar {
    height: 100%;
}

.texto {
    box-shadow: 0px 0px 4px 1px rgba(102, 102, 102, 0.5);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    &__h1 {
        color: $color-blue;
        font-weight: 600;
    }
    &__p {
        font-size: 0.80em;
    }
}

.form__input {
    border-radius: 8px;
    border-style: none;
    box-shadow: 0px 0px 4px 1px rgba(102, 102, 102, 0.3);
}

@media only screen and (min-width:968px) {
    #formulario {
        margin: auto;
        background-color: rgba(249, 245, 241, 1);
    }
}