// colores
@import "colores";
// fuente
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
body {
    margin: 0;
    padding: 0;
}

// estilos contenido
.presentacion {
    background-color: mix(#fff, $color-blue, );
    &__p {
        color: #fff;
        font-weight: lighter;
    }
}

.segmento__h4 {
    font-size: 18px;
    font-weight: 500;
}

.segmento__img {
    width: 30px;
    height: 30px;
}

.bg {
    background-color: $color-blue;
}

.bg-color {
    color: $color-white;
}

// estilos titulo 
.titulo {
    &__h1 {
        color: $color-white;
    }
}

// estilos para las tarjetas
.tarjeta {
    border-radius: 6px;
    &__img {
        width: 80px;
        height: 123px;
        img {
            height: 100%;
            border-radius: 6px;
            box-shadow: 1px 1px 3px #666;
        }
    }
    &__descripcion {
        font-size: 18px;
        p {
            font-size: 0.75rem;
            line-height: .72rem;
            width: 80px;
            color: #666;
            padding-bottom: 0;
        }
        span {
            display: block;
            font-size: .75rem;
            margin-top: 10px;
            color: green;
        }
    }
}

.anuncio {
    margin-left: 10px;
    img {
        height: 100%;
    }
}

// VISTA DESKTOP
@media only screen and (min-width:960px) {
    .contenedor {
        max-width: 1280px;
        width: 90%;
        margin: auto;
    }
    .presentacion {
        text-align: center;
        height: 30vh;
        .titulo {
            &__h1 {
                color: mix(#fff, #8aaae5, 85%);
                font-weight: 900;
                text-shadow: -0.0075em 0.0075em 0 mix(#fff, #8aaae5, 94%), 0.005em 0.005em 0 mix(#fff, #8aaae5, 60%), 0.01em 0.01em 0 mix(#fff, #8aaae5, 62%), 0.015em 0.015em mix(#fff, #8aaae5, 64%), 0.02em 0.02em 0 mix(#fff, #8aaae5, 66%), 0.025em 0.025em 0 mix(#fff, #8aaae5, 68%), 0.03em 0.03em 0 mix(#fff, #8aaae5, 70%), 0.035em 0.035em 0 mix(#fff, #8aaae5, 72%);
            }
        }
        &__p {
            color: #fff;
            font-weight: lighter;
        }
    }
    .promocion {
        height: 300px;
    }
    .altura {
        height: 100%;
    }
    .tarjeta {
        width: 170px;
        height: auto;
        border-radius: initial;
        border: 1px solid rgb(212, 212, 212);
        padding-bottom: 10px;
        &__img {
            width: 100%;
            height: auto;
            margin: auto;
            img {
                height: 100%;
                border-radius: initial;
                box-shadow: initial;
            }
        }
        &__descripcion {
            font-size: 18px;
            margin-left: 5px;
            p {
                font-size: 0.80rem;
                line-height: .72rem;
                width: 80px;
                color: #666;
                padding-bottom: 0;
            }
            span {
                display: block;
                font-size: .80rem;
                margin-top: 10px;
            }
        }
    }
    .tarjeta:hover {
        box-shadow: 0px 0px 8px 3px rgba(102, 102, 102, 0.3);
    }
    // ESTILOS PARA EL FOOTER
    #footer-main h4 {
        color: white;
        font-weight: lighter;
    }
}