    @import "colores";
    body {
        margin: 0;
        padding: 0;
    }
    
    // ESTILOS TITULO 
    .muestra__titulo {
        .arrow {
            position: relative;
            width: 25px;
        }
        .titulo {
            font-size: 20px;
            margin: auto;
            h2 {
                font-size: 1.3rem;
            }
        }
    }
    
    // ESTILOS DEl CONTENIDO
    .contenido {
        &__compra {
            width: 50%;
            padding-right: 10px;
            font-size: 18px;
            .caracteristicas {
                font-size: 0.80rem;
            }
        }
    }
    
    .contenido__img {
        width: 100px;
        height: 137px;
        img {
            margin-top: 17px;
            margin-left: 10px;
            border-radius: initial;
        }
    }
    
    // ESTILOS BOTONES
    //  boton compra
    .compra__boton {
        background-color: $color-blue;
        color: $color-white;
        border-style: none;
        font-size: 16px;
        margin: 10px 0px;
    }
    
    // boton carrito
    .compra__carrito {
        background-color: transparent;
        border-style: none;
        border: 1px solid $color-blue;
        color: $color-blue;
        font-size: 16px;
    }
    
    // ESTILOS SINOPSIS
    .sinopsis {
        text-align: center;
        p {
            margin-top: 20px;
            color: #666;
        }
    }
    
    // ESTILOS DETALLES
    .caracteristicas_libro {
        .tableRow>th {
            color: #666;
        }
    }
    
    .masDetalles>h4 {
        text-align: center;
        padding: 20px 0px;
        color: #666;
    }
    
    .masDetalles__libro {
        margin: auto;
        .tableRow {
            height: 50px;
            .tableHead {
                color: #666;
            }
        }
    }