@import url('https://fonts.googleapis.com/css?family=Yaldevi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Scheherazade+New&display=swap');
@import "colores";
body,
p {
    margin: 0px;
    padding: 0px;
}

// ESTILOS FOOTER
#footer-main {
    flex-direction: column;
    align-items: center;
}

#footer-main>div {
    text-align: center;
    padding-top: 30px;
    color: $color-white;
}

.footerContenidoSeccion {
    .redSocial {
        margin-bottom: 30px;
    }
}

.iconoRedSocial {
    width: 30px;
    height: auto;
}

.creditos {
    background-color: rgba(138, 170, 229, 0.5) !important;
}

// VISTA DESKTOP
@media only screen and (min-width:980px) {
    #footer-main {
        background-color: $color-blue;
        padding-top: 50px;
    }
    #footer-main>div {
        flex: 0.35;
    }
    #footer-main h4 {
        font-family: 'Yaldevi';
        font-size: 1.7rem;
    }
    .footerContenidoSeccion p {
        font-family: 'Scheherazade New';
        margin: 16px 0;
        color: $color-white;
        margin-left: 15px;
        font-size: 1.2rem;
        font-weight: 300;
    }
    .footerContenidoSeccion a {
        color: $color-white;
    }
    .footerContenidoSeccion {
        margin-top: 70px;
    }
    .redSocial {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
}