@import "colores";
// FUENTES
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body {
    margin: 0;
    padding: 0;
}

.boxShadow {
    box-shadow: 0px 0px 14px 8px rgba(102, 102, 102, 0.5);
}

.contenidoSeccionNosotros>div {
    text-align: center;
}

.titulo {
    font-family: 'Abril Fatface', cursive;
    color: $color-blue;
}

.contenidoSeccionNosotros {
    margin-top: 30px;
    .contenido {
        width: 80%;
        margin: auto;
        margin-top: 40px;
        line-height: 1.7rem;
    }
}

.contenido p {
    color: #666;
}

.imgLibreria {
    width: 80%;
    // height: 150px;
    margin: auto;
    margin-top: 30px;
    img {
        width: 100%;
        height: 100%;
    }
}

// ESTILOS FORMULARIO 
.subscripcion {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 60px;
    background-color: rgba(102, 102, 102, 0.2);
    padding: 30px 0px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    .input {
        margin-bottom: 20px;
        border-style: none;
        padding: 8px 0px;
        padding-left: 10px;
        color: rgba(102, 102, 102, 0.3);
    }
}

.boton {
    background-color: $color-blue;
    color: $color-white;
    padding: 8px 0px;
    border-style: none;
}

@media only screen and (min-width:768) {
    .imgLibreria {
        width: 80%;
        height: 300px;
        margin: auto;
        margin-top: 30px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}