@import "colores";
// estilos menu filtros 
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none !important;
}

// ESTILOS BARRA DE BUSQUEDA
.busqueda {
    position: relative;
    padding: 10px 0px;
    &__input {
        border-style: none;
        border-radius: 15px;
        width: 94%;
        height: 30px;
        margin: auto;
        padding-left: 9px;
        background-color: #ffffff;
    }
    &__img {
        position: absolute;
        top: 18px;
        right: 25px;
    }
}

// ESTILOS BOTONES FILTROS
.filtros {
    background-color: rgba(138, 170, 229, 0.7);
    width: 100wh;
}

.dropDown,
.dropDown__menu {
    text-align: center;
}

.dropDown>ul {
    padding: 0px;
}

.menu__li {
    padding: 5px 0px;
    color: $color-white;
    cursor: pointer;
}

.dropDown__menu {
    margin: auto;
}

.flecha {
    font-weight: bold;
}

.menu__li>.oculto {
    display: none;
}

.submenu {
    background-color: #ffffff !important;
}

// ESTILOS SUBMENU
.submenu {
    padding-top: 10px;
    background-color: #ffffff;
}

// ESTILOS FILTROS APLICADOS
.contenedorFiltros {
    width: 94%;
    padding: 10px 0px;
    margin: auto;
}

.aplicado {
    width: 70px;
    height: auto;
    background-color: rgba(102, 102, 102, 0.20);
    border-radius: 10px;
    padding-bottom: 2px;
    font-size: 18px;
    &__texto {
        font-size: 0.70em;
        margin: auto;
    }
    .close {
        font-size: 1em;
        margin-left: 10px;
    }
}