@import "colores";
// estilos menu filtros 
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}

.busqueda {
    &__input {
        width: 80%;
        border-style: none;
    }
}

.busqueda {
    position: relative;
}

.genero {
    position: absolute;
    top: 80px;
    background-color: $color-blue;
    min-width: 100px;
    z-index: 12;
    display: block;
    opacity: 1;
    transition: all .5s ease;
    h3 {
        color: $color-white;
    }
}

.mostrar {
    display: none;
    opacity: 0;
}

.listado {
    padding-left: 0;
}

.tema {
    text-align: left;
    &__item {
        color: $color-white;
    }
}