@import "colores";
// estilos menu filtros 
body {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

a {
    text-decoration: none !important;
}

// ESTILOS BARRA DE BUSQUEDA
.busqueda {
    position: relative;
    padding: 10px 0px;
    &__input {
        border-style: none;
        border-radius: 15px;
        width: 94%;
        height: 30px;
        margin: auto;
        padding-left: 9px;
        background-color: #ffffff;
    }
    &__img {
        position: absolute;
        top: 18px;
        right: 25px;
    }
}

// ESTILOS TITULO Y FILTROS
.contenidoSeccionOrdenar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    .filtro {
        justify-self: end;
    }
}

.contenidoSeccionTitulo {
    text-align: center;
    color: #666;
}

select {
    border: 1px solid #666;
    text-align: center;
}

// ESTILOS CONTENIDO
.seccionContenidoServicio {
    width: 90%;
    margin: auto;
}

.contenido {
    display: flex;
    align-items: center;
    img {
        display: block;
        width: 60px;
        height: auto;
    }
    &__info {
        margin-left: 30px;
        h3 {
            font-size: 1.1rem;
            margin: 0;
        }
        p {
            font-size: .80rem;
        }
        span {
            color: #2e8b57;
        }
    }
}

// ESTILOS FILTROS
.contenidoFiltros {
    display: flex;
    justify-content: space-around;
    background-color: #f9f5f1;
    height: initial;
    opacity: 1;
    transition: all .2s;
}

.mostrarFiltros {
    height: 0;
    opacity: 0;
}

.filtros>h3 {
    font-size: 1.3rem;
    text-align: center;
    color: $color-blue;
    padding-top: 10px;
}

.filtros ul {
    padding-left: 0;
}

.filtros ul li a {
    color: #666;
}

.iconoFiltro {
    cursor: pointer;
}

// estilos anuncios
.contenidoSeccionAnuncio>div {
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 15px;
}

@media only screen and (min-width:768px) {
    .contenidoFiltros {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: initial;
        background-color: #fff;
        transition: none;
    }
    .mostrarFiltros {
        height: initial;
        opacity: initial;
    }
    .filtros>h3 {
        font-size: 1.3rem;
        text-align: left;
        color: $color-blue;
        padding-top: 10px;
    }
    .filtros {
        margin-left: 20px;
        margin-bottom: 20%;
    }
    .contenido {
        display: flex;
        align-items: center;
        img {
            display: block;
            width: 100px;
            height: auto;
        }
        &__info {
            margin-left: 30px;
            h3 {
                font-size: 1.4rem;
                margin: 0;
            }
            p {
                font-size: .85rem;
            }
            span {
                color: #2e8b57;
            }
        }
    }
    // estilos anuncios
    .contenidoSeccionAnuncio>div {
        width: 100%;
        height: auto;
    }
}